@font-face{
	font-family: ninomtavrulibold;
	src: url(bpg_nino_mtavruli_bold.ttf);
}
@font-face{
	font-family: ninomtavrulinormal;
	src:url(bpg_nino_mtavruli_normal.otf);
}
@font-face{
	font-family: ingiriarial;
	src:url(bpg_ingiri_arial.ttf);
}