.navigation{
	display: inline-block;
	vertical-align: 8px;
}
ul{
	margin-bottom: 0;
}
li{
	font-family: ninomtavrulibold;
	list-style-type: none;
	display: inline-block;
	color: #3D58A6;
}
section{
	margin-left: 18px;
}
.logo{
	margin-top: 28px;
}
.nav-li{
	text-decoration: none;
	margin: auto 9px 0 9px;
}
.day{
	font-family: ninomtavrulinormal;
	font-size: 48px;
	display: inline-block;
	margin-top: 40px;
	/*margin-left: 18px;*/
	margin-bottom: 8px;
	color: white;
	background-color: #3D58A6;
}
.month{
	font-family: ninomtavrulinormal;
	color: #3D58A6;
	font-size: 22px;
}
.title{
	font-family: ninomtavrulinormal;
	font-size: 20px;
	font-weight: 3;
}
.Text{
	font-family: ingiriarial;
	width: 929px;
	display: inline-block;
	margin-left: 19px;
}
.Images{
	vertical-align: top;
	margin-top: 23px;
 	margin-right: 20px;

}
.divider{
	color: #363E97;
	font-size: 35px;
	vertical-align: 5px;
	margin:0px 30px 0px 30px;
}
footer{
	margin-left: 18px;
}